.verticalSpacer {
    min-height:2em;
}

.carousel-item > img {
  min-width: 100%;
  padding-left: 8px;
  height: 32rem;
}

.card{
    margin-top: 2em;
}

.featured-charity-card {
    min-height: 15rem !important;
}

.carousel{
    margin-top: 1.5rem;
}

.carousel-caption {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin-top: 1.5rem;
}