<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Results of your search</title>

    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>


    <link rel="stylesheet" href="../style/activitiesResultsPage.css"/>
    <link rel="stylesheet" href="../style/override.css"/>


</head>
<body>

<#include "navigationBar.html" parse=true>

    <div id="main-container" class="container">
        <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link nav-link-search-inactive" href="/results/charities">Charities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Activities</a>
            </li>
        </ul>
        <div>
            <form id="searchFormSubmit" action="/results/activities">
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                            });
                        </script>
                    </div>
                </div>

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-danger btn-md"> Go!
                    </button>
                </div>
            </form>
        </div>


        <#if activities??>
            <div id="searchResultsContainer" class="container">

                <#list activities as activity>
                    <div>
                        <div>Title: ${activity.title}</div>
                        <div>Charity name: ${activity.charity.name}</div>
                        <div>Participants: ${activity.donors?size}</div>
                    </div>
                </#list>
            </div>
        </#if>

        <#if activities??>
            <div id="pageChanger" class="container text-center">
                <#if pageNumber!= 0>
                    <a href="results/activities?pageSize=${pageSize}&pageNumber=${pageNumber - 1}"><</a>
                </#if>
                <span id="pageCounter">Page ${pageNumber + 1} of ${numberOfPages}</span>
                <#if pageNumber!= (numberOfPages - 1)>
                    <a href="results/activities?pageSize=${pageSize}&pageNumber=${pageNumber + 1}">></a>
                </#if>
            </div>
        </#if>
    </div>

    <#include "footer.html" parse=false>


        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

        <!-- popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                crossorigin="anonymous"></script>

        <!-- boostrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                crossorigin="anonymous"></script>


        <script src="../script/activitiesResultsPage.js"></script>

        <!--handle Login.js-->
        <script src="../script/handleLogin.js"></script>

        <!--ajax setup-->
        <script src="../script/ajaxSetup.js"></script>

        <!-- Cookie handling -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

</body>
</html>