<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Results of your search</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../style/resultsPage.css"/>
    <link rel="stylesheet" href="../style/override.css"/>


</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <span class="navbar-brand">ConnectCharites</span>
    <div id="navBarButtons" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="navbar-item active"><a class="nav-link" href="/results">Search</a></li>
            <li class="navbar-item active"><a class="nav-link" href="/charity/random">A Random Charity</a></li>
        </ul>
        <ul class="navbar-nav navbar-right">

        </ul>
    </div>
</nav>
<div id="main-container">
    <form id="searchForm" action="results">
        <div style="text-align:center">
            <div class="form-group container" style="width:800px;display:inline-block">
                <input type="text" class="form-control" name="name" aria-describedby="searchHelp"
                       placeholder="Serach charities" onkeydown="searchBarKeyDown()">

            </div>

            <div class="form-group" style="width:120px;display:inline-block">
                <select class="form-control" name="category">
                    <option>Name</option>
                    <option>Country</option>
                    <option>Cause</option>
                </select>
            </div>
            <input type="submit" id="searchFormSubmit" style="visibility: hidden;"/>
        </div>
    </form>

</div>


</form>

<#if charities??>
    <div id="searchResultsContainer" class="container">

        <#list charities as charity>
            <div class="row my-5" id="charity-row-${charity.id}">
                <a href="/charityPage/${charity.id}">
                    <div class="col-md-3" id="charity-img-${charity.id}"><img alt="Charity logo" width="150px"
                                                                              height="150px"
                                                                              src=${charity.logoFile!"../img/no-charity-logo.png"}>
                    </div>
                </a>
                <div class="col-md-9" id="charity-body-${charity.id}">
                    <a href="/charityPage/${charity.id}">
                        <strong>${charity.name}</strong>
                    </a>
                    <p class="charity-desc-p">${charity.description}</p>
                </div>
            </div>
        </#list>
    </div>
    <#else>
        <#if searchedName??>
            <div id="sorryNoCharties" class="container">
                No charities matched your search, please try again
            </div>
        </#if>
</#if>
</div>

<#if charities??>
    <div id="pageChanger" class="container text-center">
        <#if pageNumber!= 0>
            <a href="results?name=${searchedName}&pageSize=${pageSize}&pageNumber=${pageNumber - 1}"><</a>
        </#if>
        <span id="pageCounter">Page ${pageNumber + 1} of ${numberOfPages}</span>
        <#if pageNumber!= (numberOfPages - 1)>
            <a href="results?name=${searchedName}&pageSize=${pageSize}&pageNumber=${pageNumber + 1}">></a>
        </#if>
    </div>
</#if>

<footer class="footer p-5">
    <div class="container">
        <span class="text-muted">About us - Developers - Legal - Privacy - Cookies - Language</span>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

<script src="../script/resultsPage.js"></script>

</body>
</html>